nav {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 15px;
  background: #4682b4;
  color: white;
  padding: 10px;
}

a {
  color: white;
  text-decoration: none;
}

  a:hover {
    text-decoration: underline;
  }
